* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    margin: 0;
    color: rgb(6, 95, 150);
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.header {
    color: white;
    overflow: hidden;
    background-color: rgb(77, 77, 77);
}

svg {
    margin-top: 10px;
    border: 1px solid #ccc;
    color: black;
    background-color: white;
}

form {
    text-align: left;
    padding-left: 30%;
    padding-top: 50px;
}

label {
    color: rgb(0, 66, 132);
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

.row {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.genreSelector {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.yearSelector {
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding-left: 0;
}

input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    margin-right: 5px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

.axis .domain {
    stroke:none;
}

.x line {
    stroke: white;
}

.hover_bkgr_fricc{
    color: #555;
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}

.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    top: 50px;
    width: 60%;
    height: 30%;
    position: relative;
    border-radius: 8px;
    padding: 5px 5%;
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.popupCloseButton:hover {
    background-color: #ccc;
}

.trigger_popup_fricc {
    cursor: pointer;
    font-size: 15px;
    /* margin: 20px; */
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
}

.trigger_wrapper {
    margin-top: 50px;
    color: rgb(0, 66, 132);
}

.description {
    text-align: left;
}

ul.features {
    font-weight: bold;
}