<!DOCTYPE HTML>
<html>
	<head>
		<title>My Profolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css"/>
		<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper-->
		<div id="wrapper">

			<!-- Nav -->
			<nav id="nav">
				<a href="#" class="icon solid fa-home"><span>Home</span></a>
				<a href="#work" class="icon solid fa-folder"><span>Work</span></a>
				<a href="#contact" class="icon solid fa-envelope"><span>Contact</span></a>
				<a href="https://github.com/Mitchelhsu" class="icon brands fa-github" target="blank"><span>Twitter</span></a>
			</nav>

			<!-- Main -->
			<div id="main">

				<!-- Me -->
				<article id="home" class="panel intro">
					<header>
						<h1>許洺嘉</h1>
						<p>1071414</p>
						<!-- <p>Senior Astral Projectionist</p> -->
					</header>
					<a href="#work" class="jumplink pic">
						<span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
						<img src="/static/css/images/me.png" alt="" />
					</a>
				</article>

				<!-- Work -->
				<article id="work" class="panel">
					<header>
						<h2>Work</h2>
					</header>
					<p>
						Here I added animation when hovering over the images. I also added border to the images below and captions of each project.
						Click on images leads you to each project.
					</p>
					<section>
						<div class="row">
							<div class="col-4 col-6-medium col-12-small">
								<a href="/DinnerPicker" class="image fit" target="blank"><img src="/static/css/images/DinnerPicker.png" alt="Dinner Picker" style="height: 200px;"></a>
								<p style="text-align: center; font-size: large;">今天晚餐吃什麼？</p>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<a href="/ClubCourse" class="image fit" target="blank"><img src="/static/css/images/ClubCourse.png" alt="Club Course" style="height: 200px;"></a>
								<p style="text-align: center; font-size: large;">自動排課系統</p>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<a href="/PsychTest" class="image fit" target="blank"><img src="/static/css/images/PsychTest.png" alt="Psycho Test" style="height: 200px;"></a>
								<p style="text-align: center; font-size: large;">心理測驗-你的愛情是什麼滋味？</p>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<a href="/RPG" class="image fit" target="blank"><img src="/static/css/images/RPG.png" alt="RPG Game" style="height: 200px;"></a>
								<p style="text-align: center; font-size: large;">RPG Game</p>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<a href="/YTPlayer" class="image fit" target="blank"><img src="/static/css/images/YTPlayer.png" alt="Youtube player" style="height: 200px;"></a>
								<p style="text-align: center; font-size: large;">YouTube心情點唱機</p>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<a href="/Movies" class="image fit" target="_blank"><img src="/static/css/images/Movies.png" alt="Movies" style="height: 200px;"></a>
								<p style="text-align: center; font-size: large;">Movies Data Visualization</p>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<a href="/Galaxy" class="image fit" target="_blank"><img src="/static/css/images/Galaxy.png" alt="Galaxy Tours" style="height: 200px;"></a>
								<p style="text-align: center; font-size: large;">Galaxy Tours</p>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<a href="/Salary" class="image fit" target="_blank"><img src="/static/css/images/Salary.png" alt="Salary Calculator" style="height: 200px;"></a>
								<p style="text-align: center; font-size: large;">Salary Estimator</p>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<a href="/Loan" class="image fit" target="_blank"><img src="/static/css/images/Loan.png" alt="Loan Prediction" style="height: 200px;"></a>
								<p style="text-align: center; font-size: large;">Loan Prediction</p>
							</div>
							<!-- <div class="col-4 col-6-medium col-12-small">
								<a href="#" class="image fit"><img src="images/pic10.jpg" alt=""></a>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<a href="#" class="image fit"><img src="images/pic11.jpg" alt=""></a>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<a href="#" class="image fit"><img src="images/pic12.jpg" alt=""></a>
							</div> -->
						</div>
						<p style="font-size: large">ps: the twitter icon is changed to GitHub icon which leads you to my GitHub.</p>
					</section>
				</article>

				<!-- Contact -->
				<article id="contact" class="panel">
					<header>
						<h2>Contact Me</h2>
					</header>
					<form action="#" method="post">
						<div>
							<div class="row">
								<div class="col-6 col-12-medium">
									<input type="text" name="name" placeholder="Name" />
								</div>
								<div class="col-6 col-12-medium">
									<input type="text" name="email" placeholder="Email" />
								</div>
								<div class="col-12">
									<input type="text" name="subject" placeholder="Subject" />
								</div>
								<div class="col-12">
									<textarea name="message" placeholder="Message" rows="6"></textarea>
								</div>
								<div class="col-12">
									<input type="submit" value="Send Message" />
								</div>
							</div>
						</div>
					</form>
				</article>

			</div>

			<!-- Footer -->
			<div id="footer">
				<ul class="copyright">
					<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>

		</div>

		<!-- Scripts -->
		<script src="https://unpkg.com/vue@next"></script>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/browser.min.js"></script>
		<script src="/static/js/breakpoints.min.js"></script>
		<script src="/static/js/util.js"></script>
		<script src="/static/js/main.js"></script>

	</body>
</html>