<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Psycho Test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/PsychTest.css">
    </head>
    <body>
        <div class="header"><h1>你今年的愛情是什麼滋味?</h1></div>
        
        <div class="text">
            <h2 id="question"></h2>
            <div id="options"></div>
        </div>

        <input id="startButton" type="button" value="開始作答">

        <p class="trigger_wrapper"><a class="trigger_popup_fricc">CLICK HERE</a> for more information.</p>

        <div class="hover_bkgr_fricc">
            <span class="helper"></span>
            <div class="description">
                <div class="popupCloseButton">&times;</div>
                <h2>Description</h2>
                <p>In this lab, I added the features below</p>
                <ul class="features">
                    <li>Styles of the page.</li>
                    <li>Styles on the header bar.</li>
                    <li>Styles on all buttons, including hover animation and shadow etc.</li>
                    <li>The popup window that shows the description of additional features.</li>
                </ul>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/js/psychData.js"></script>
        <script src="/static/js/PsychTest.js"></script>
    </body>
</html>