<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RPG Game</title>
        <link rel="stylesheet" href="/static/css/RPG.css">
    </head>
    <body>
        <div class="header">
            <h1>我要去右下角</h1>
        </div>
        <br>
        <div>
            <canvas id="myCanvas" width="600" height="600"></canvas>
            <p id="talkBox"></p>
        </div>

        <p class="trigger_wrapper"><a class="trigger_popup_fricc">CLICK HERE</a> for more information.</p>

        <div class="hover_bkgr_fricc">
            <span class="helper"></span>
            <div class="description">
                <div class="popupCloseButton">&times;</div>
                <h2>Description</h2>
                <p>In this lab, I added the features below</p>
                <ul class="features">
                    <li>Styles of the page.</li>
                    <li>Styles on the header bar.</li>
                </ul>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/js/RPG.js"></script>
    </body>
</html>